header.header
    nav.nav.nav--beehives
        a.nav__el(href='/') All beehives
    .header__logo
        img(src='/img/white.png' alt='Beehives logo')
    nav.nav.nav--user
        a.nav__el(href="/login") Log in
        a.nav__el.nav__el--cta(href="#") Sign up
        //a.nav__el(href='/') My beehives
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src=`/img/user.jpg` alt=`Photo of user`)
        //-     span Davide
